@import "tailwindcss";


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #CBBEFF;
  --background-end-rgb: 255, 255, 255;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: #6649AE;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  
  
    
}

body {
    @apply font-sans   bg-pink-100 max-w-screen-xl mx-auto;
   
}

/*  sets the maximum width to 1280px - max-w-screen-xl   narrow screen width for mobil - px-8 for large pc screen - lg:px-16  */
main {
   @apply flex flex-col items-stretch   bg-blue-200  ;
}

 

li {
    @apply p-2; /* 8px = p-2 (2 * 4px = 8px) */
}
  
li:hover {
    @apply bg-[#dadbf9] text-black; /* Custom color using arbitrary value */
}
  
/* This styles BOTH <a> AND <Link> */
  a {
    @apply no-underline font-bold
           hover:underline focus-visible:underline
           transition-colors duration-200;
  }


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
